<label for="preg" class="rem">Pregunta:</label>
<p><input type="text" id="preg" name="quiz[pregunta]" value="<% quiz.pregunta %>"/> </p>
<label for="resp" class="rem">Respuesta:</label>
<p><input id="resp" type="text" name="quiz[respuesta]" value="<% quiz.respuesta %>"/></p>
<a href="/quizes"><button type="button" name="cancelar">Cancelar</button></a>
<input type="submit" name="salvar" value="Salvar">
