<form action="/quizes" method="get">
    <input type="text" name="search" value="">
    <input type="submit" name="" value="Search">
</form>

<table>
    <% if (preguntas.length == 0){ %>
        <p>
            Ninguna respuesta encontrada.
        </p>

    <%}%>

    <% var i; for (i = 0; i < preguntas.length; i++){ %>
            <tr>
                <td>
                    <a href="/quizes/<%= preguntas[i].id %>"><%= preguntas[i].pregunta %></a>
                </td>
            </tr>
    <% } %>
</table>
