<form action="/quizes" method="get">
    <input type="text" name="search" value="">
    <input type="submit" name="" value="Search">
</form>

<table>
    <% if (quizes.length == 0){ %>
        <p>
            Ninguna respuesta encontrada.
        </p>

    <%}%>

    <% var i; for (i = 0; i < quizes.length; i++){ %>
            <tr>
                <td>
                    <a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
                </td>
                <td>
                    <a href="/quizes/<%= quizes[i].id %>/edit"><button type="button" name="edit">Editar</button></a>
                </td>
            </tr>
    <% } %>
</table>

<hr />

<a href="/quizes/new"><button type="button" name="nuevo">Nuevo</button></a>
