<form action="/quizes/<%= pregunta.id %>/answer" method="get">
    Pregunta: <%= pregunta.pregunta %> <p>
    <input type="text" name="respuesta" value="Responda aquí"/>
    <input type="submit" value="Enviar">
</form>
